{% extends 'layout.twig' %}

{% block content %}
    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
                <tr>
                    {% for sortable in sortables %}
                        <th>
                            <a href="/?{{ sortable.query }}">{{ sortable.name|capitalize }}</a>
                        </th>
                    {% endfor %}
                    <th>Content</th>
                    {% if user.primaryKey %}
                        <th>-</th>
                    {% endif %}
                </tr>
            </thead>
            <tbody>
            {% for task in tasks %}
                <tr>
                    <td>{{ task.id }}</td>
                    <td class="{{ task.status ? 'text-success' : 'text-warning' }}">
                        {{ task.status ? 'Done' : 'Pending' }}
                    </td>
                    <td>{{ task.username }}</td>
                    <td>{{ task.email }}</td>
                    <td>{{ task.content|e }}</td>
                    {% if user.primaryKey %}
                        <td>
                            <a href="/edit/{{ task.id }}?{{ request.server.get('QUERY_STRING') }}">Edit</a>
                        </td>
                    {% endif %}
                </tr>
            {% endfor %}
            </tbody>
        </table>

        {% if tasks.haveToPaginate %}
            <nav>
                <ul class="pagination justify-content-center">
                    {% for pager in pagination %}
                        <li class="page-item{{ (tasks.page == pager.page) ? ' active'}}">
                            <a href="/?{{ pager.query }}" class="page-link">{{ pager.page }}</a>
                        </li>
                    {% endfor %}
                </ul>
            </nav>
        {% endif %}
    </div>

    {% include '_form.twig' %}
{% endblock %}
