{% extends 'layout.twig' %}

{% block content %}
    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
                <tr>
                    {% for sortable in sortables %}
                        <th>
                            <a href="/?{{ sortable.query }}">{{ sortable.name|capitalize }}</a>
                        </th>
                    {% endfor %}
                    <th>Content</th>
                </tr>
            </thead>
            <tbody>
            {% for task in tasks %}
                <tr>
                    <td>{{ task.id }}</td>
                    <td>{{ task.username }}</td>
                    <td>{{ task.email }}</td>
                    <td>{{ task.content|e }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>

        {% if tasks.haveToPaginate %}
            <nav>
                <ul class="pagination justify-content-center">
                    {% for pager in pagination %}
                        <li class="page-item{{ (tasks.page == pager.page) ? ' active'}}">
                            <a href="/?{{ pager.query }}" class="page-link">{{ pager.page }}</a>
                        </li>
                    {% endfor %}
                </ul>
            </nav>
        {% endif %}
    </div>
{% endblock %}
