{% extends 'layout.twig' %}

{% block content %}
    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
                <tr>
                    {% for sortable in sortables %}
                        <th>
                            <a href="/?{{ sortable.query }}">{{ sortable.name|capitalize }}</a>
                        </th>
                    {% endfor %}
                    <th>Content</th>
                </tr>
            </thead>
            <tbody>
            {% for task in tasks %}
                <tr>
                    <td>{{ task.id }}</td>
                    <td class="{{ task.status ? 'text-success' : 'text-warning' }}">
                        {{ task.status ? 'Done' : 'Pending' }}
                    </td>
                    <td>{{ task.username }}</td>
                    <td>{{ task.email }}</td>
                    <td>{{ task.content|e }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>

        {% if tasks.haveToPaginate %}
            <nav>
                <ul class="pagination justify-content-center">
                    {% for pager in pagination %}
                        <li class="page-item{{ (tasks.page == pager.page) ? ' active'}}">
                            <a href="/?{{ pager.query }}" class="page-link">{{ pager.page }}</a>
                        </li>
                    {% endfor %}
                </ul>
            </nav>
        {% endif %}
    </div>

    <hr/>

    <form method="post" class="needs-validation{{ form.errors|length ? ' was-validated' : ''}}" novalidate>
        <div class="form-group">
            <div class="form-row">
                <div class="col">
                    <label for="username">Username</label>
                    <input
                        type="text"
                        id="username"
                        name="username"
                        class="form-control"
                        value="{{ form.task.username }}"
                        placeholder="Username"
                        required
                    />
                    {% if form.errors and form.errors.username %}
                        <div class="invalid-feedback">{{ form.errors.username }}</div>
                    {% endif %}
                </div>
                <div class="col">
                    <label for="email">Email</label>
                    <input
                        type="email"
                        id="email"
                        name="email"
                        class="form-control"
                        value="{{ form.task.email }}"
                        placeholder="johndoe@beejee.com"
                        required
                    />
                    {% if form.errors and form.errors.email %}
                        <div class="invalid-feedback">{{ form.errors.email }}</div>
                    {% endif %}
                </div>
            </div>
        </div>
        <div class="form-group">
            <label for="content">Content</label>
            <textarea
                rows="4"
                id="content"
                name="content"
                class="form-control"
                placeholder="Type something here"
                required>{{ form.task.content }}</textarea>
            {% if form.errors and form.errors.content %}
                <div class="invalid-feedback">{{ form.errors.content }}</div>
            {% endif %}
        </div>
        <button type="submit" class="btn btn-primary">Add new task</button>
    </form>
{% endblock %}
